<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tio.chat.mapper.ChatGroupMapper">

    <!-- 新建群 -->
    <insert id="insertGroup" parameterType="org.tio.chat.model.ChatGroup">
        INSERT INTO chat_group (group_id, group_name, owner_id, avatar)
        VALUES (#{g.groupId}, #{g.groupName}, #{g.ownerId}, #{g.avatar})
    </insert>

    <!-- 删除群成员 -->
    <delete id="removeMember" parameterType="org.tio.chat.model.ChatGroupMember">
        DELETE FROM chat_group_member
        WHERE group_id = #{groupId}
        AND user_id = #{userId}
    </delete>

    <!-- 添加成员 -->
    <insert id="addMember" parameterType="org.tio.chat.model.ChatGroupMember">
        INSERT INTO chat_group_member (group_id, user_id, role)
        VALUES (#{groupId}, #{userId}, #{role})
            ON DUPLICATE KEY UPDATE join_time = NOW()
    </insert>

    <!-- 通过群id查找群 -->
    <select id="getGroupById" resultType="org.tio.chat.model.ChatGroup">
        SELECT group_id AS groupId, group_name AS groupName, avatar AS avatar, create_time AS createTime
        FROM chat_group WHERE group_id = #{groupId}
    </select>

    <!-- 查询群成员 -->
    <select id="getGroupMembers" parameterType="string" resultType="string">
        SELECT user_id FROM chat_group_member WHERE group_id = #{groupId}
    </select>

    <!-- 查询用户所在群 -->
    <select id="getUserGroups" parameterType="string" resultType="string">
        SELECT group_id FROM chat_group_member WHERE user_id = #{userId}
    </select>

    <!-- 查询用户所在群组对象 -->
    <select id="getUserGroupObjects" resultType="org.tio.chat.model.ChatGroup">
        SELECT  g.group_id   AS groupId,
                g.group_name AS groupName,
                g.avatar     AS avatar,
                g.owner_id   AS ownerId,
                g.create_time  AS createTime
        FROM chat_group g
                 JOIN chat_group_member m ON g.group_id = m.group_id
        WHERE m.user_id = #{userId}
        ORDER BY g.create_time DESC
    </select>

    <!-- 更新群成员已读游标 -->
    <update id="updateLastReadCursor">
        UPDATE chat_group_member
        SET last_read_msg_id = #{msgId}
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </update>

    <!-- 查询群成员已读游标 -->
    <select id="getLastReadCursor" resultType="string">
        SELECT last_read_msg_id
        FROM chat_group_member
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </select>

    <!-- 插入或更新群聊已读游标 -->
    <insert id="upsertCursor">
        INSERT INTO chat_group_cursor (user_id, group_id, last_read_msg_id, update_time)
        VALUES (#{userId}, #{groupId}, #{lastReadMsgId}, NOW())
            ON DUPLICATE KEY UPDATE
                                 last_read_msg_id = VALUES(last_read_msg_id),
                                 update_time = NOW()
    </insert>

    <!-- 查询某群在指定 msgId 之后的消息（用于回放） -->
    <select id="selectGroupMessagesSince" resultType="org.tio.chat.model.ChatMessage">
        SELECT id, msg_id as msgId, from_user as fromUser, to_user as toUser, group_id as groupId,
               content, cmd, is_read as isRead, is_offline as isOffline, create_time as createTime
        FROM chat_message
        WHERE group_id = #{groupId}
          AND cmd = 3
          AND create_time >
              COALESCE((
                           SELECT cm2.create_time
                           FROM chat_message cm2
                           WHERE cm2.group_id = #{groupId}
                             AND cm2.msg_id = #{cursorMsgId}
                           LIMIT 1
                           ), '1970-01-01')
        ORDER BY create_time ASC
        LIMIT #{limit}
    </select>


    <!-- 通过游标id取到游标时间 -->
    <select id="getCreateTimeByMsgId" resultType="java.util.Date">
        SELECT create_time
        FROM chat_message
        WHERE msg_id = #{lastCursor}
          AND cmd = 3
        LIMIT 1
    </select>

    <!-- 查询群聊历史消息，按创建时间倒序 -->
    <select id="selectGroupHistory" resultType="org.tio.chat.model.ChatMessage">
        <![CDATA[
        SELECT msg_id AS msgId, from_user AS fromUser, to_user AS fromUser, group_id AS groupId, content, cmd, is_offline, create_time AS createTime
        FROM chat_message
        WHERE group_id = #{groupId}
        AND create_time <= #{cursorTime}
        ORDER BY create_time DESC
        ]]>
    </select>

    <!-- 统计用户在群里的未读消息数 -->
    <select id="countUnreadGroupMessages" resultType="int">
        SELECT COUNT(*)
        FROM chat_message cm
                 LEFT JOIN chat_group_cursor c
                           ON cm.group_id = c.group_id AND c.user_id = #{userId}
        WHERE cm.group_id = #{groupId}
          AND cm.cmd = 3
          AND cm.create_time > COALESCE(c.update_time, '1970-01-01')
    </select>


    <!-- 查找用户是否已在群内 -->
    <select id="findMember" resultType="org.tio.chat.model.ChatGroupMember">
        SELECT * FROM chat_group_member WHERE group_id = #{groupId} AND user_id = #{userId}
    </select>

    <!-- 根据 groupId 查询群主 ID -->
    <select id="findOwnerId" parameterType="string" resultType="string">
        SELECT owner_id
        FROM chat_group
        WHERE group_id = #{groupId}
        LIMIT 1
    </select>

</mapper>