<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/chiikawa_chat?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC"/>
                <property name="username" value="pipi"/>
                <property name="password" value="203314wa."/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/ChatMessageMapper.xml"/>
        <mapper resource="mapper/ChatGroupMapper.xml"/>
        <mapper resource="mapper/ChatUserMapper.xml"/>
        <mapper resource="mapper/FriendRequestMapper.xml"/>
        <mapper resource="mapper/GroupRequestMapper.xml"/>

    </mappers>

</configuration>
